    <%= render 'layouts/toolbar' %>
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Be the First!</h1>
      </div>
	<%= render 'layouts/footer' %>
    </div> <!-- /container -->
