    <%= render 'layouts/castersignups/toolbar' %>
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Thank You!</h1>
	<p>These are the one who are making the future possible. Ingidio sincerely thank you for your contributions.</p>
	<h2></h2>
        <p><a class="btn primary large" href="/promotion">Learn more &raquo;</a></p>
      </div>
	<%= render 'layouts/footer' %>
    </div> <!-- /container -->
