    <%= render 'layouts/toolbar' %>
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Welcome!</h1>
	<br>
	<h2>Much of gaming today is about <font color="#157DEC">Positive and Memorable Moments</font>. 
The beating of the impossible bosses, the thrill of total victories... 
Using our 'Moments&#174;' advertising solution, we wish for your <font color="#800517">Brand</font> to be a part of those positive moments. 
Leveraging powerful <font color="#348781">Algorithms</font> and deep human <font color="#800080">Psychology</font>, we want the happiness of games to work for your brand and <font color="#7E2217">Increase Your Revenue</font>. 
This's not traditional advertising. 
This is <font color="#C85A17">Gamertising&#174;</font>. 
And this is the <font color="#347235">Future.</font>  </h2><br>
	<h2>Audience</h2>
	<p>
	<ul>
	
  	<li><p>59 Percent of US are Gamers</p></li>
  	<li><p>In Online Gaming, 90 Percent uses the PC</p></li>
  	<li><p>18-24 Males-262 Index</p></li>

	<li><p>~ 10 Million Unique Vistors</p></li>
	<li><p>1.2 Billion Minutes of Video in the US</p></li>
	<li><p>Smart Campaign Tracking Analytics</p></li>
	</p>
	</ul>
	<h2>Content</h2>
	<ul>
  	<li><p>Major Games That are Exicitng to Play, Fun to Watch, and Valuable for Brand Engagment</p></li>
	</ul>
	<h2>Solutions</h2>
        <p>We will work with you to find the best promotion solution for you. Your success is important to us and we want to understand your needs and tailor your solutions.</p>
	<h2>Contact</h2>
        <p>Please contact <a href="#">ingidio.tv@gmail.com</a> for more information, or to request a demo.</p>
        <!--<p><a class="btn primary large">Learn more &raquo;</a></p>-->
      </div>

      <!-- Example row of columns -->
      <!--<div class="row">
        <div class="span-one-third">
          <h2>Heading</h2>
          <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span-one-third">
          <h2>Heading</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span-one-third">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>-->
	

	<%= render 'layouts/footer' %>
    </div> <!-- /container -->
